<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level1_bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
            <key>level1_bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,14},{10,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,25}}</string>
                <key>sourceSize</key>
                <string>{10,25}</string>
            </dict>
            <key>level2_bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
            <key>level2_bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{10,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,25}}</string>
                <key>sourceSize</key>
                <string>{10,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playerBullet.png</string>
            <key>size</key>
            <string>{32,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2fc78b4b8e1f0f1d5c4fc2f4b1f9141:1/1$</string>
            <key>textureFileName</key>
            <string>playerBullet.png</string>
        </dict>
    </dict>
</plist>
